@import url("/asset/font/Gilroy-ExtraBold.woff");
@import url("/asset/font/Gilroy-Bold.woff");
@import url("/asset/font/Gilroy-Thin.woff");

@import url("/asset/font/Graphik-Light.woff");
@import url("/asset/font/Graphik-Medium.woff");
@import url("/asset/font/Graphik-Thin.woff");
@import url("/asset/font/Graphik-Regular.woff");


   /* Graphik--------------------------------*/
@font-face {
    font-family: GraphikL; 
    src: url(/asset/font/Graphik-Light.woff) format("woff");
   }

   @font-face {
    font-family: GraphikR; 
    src: url(/asset/font/Graphik-Regular.woff) format("woff");
   }

   @font-face {
    font-family: GraphikM; 
    src: url(/asset/font/Graphik-Medium.woff) format("woff");
   }

   @font-face {
    font-family: GraphikT; 
    src: url(/asset/font/Graphik-Thin.woff) format("woff");
   }
    /* gilroy--------------------------------*/

   @font-face {
    font-family: Gilroy;
    src: url(/asset/font/Gilroy-Bold.woff) format("woff"); 
    
   }

   @font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
   }
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root{
    //Colors Choice
    --c-darkcolor:#000000;
    --c-maincolor:#0B1741;
    --c-purple:#634EE9;
    --c-darkblue:#203FAD;
    --c-blue:#3A74E3;
    --c-green:#21973B;
    --c-white:#FFFFFF;
    //Fonts
    --f-GraphikR: GraphikR, sans-serif;
    --f-GraphikM: GraphikM, sans-serif;
    --f-GraphikL: GraphikL, sans-serif;
    --f-GraphikT:GraphikT, sans-serif;
    --f-Gilroy: Gilroy, sans-serif;

}

body{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
//----------------------------First Section
#section__first{
    
    background: linear-gradient( #000000,#0B1741);
    overflow: hidden;
    padding-bottom: 40px;




    #find{
        display: inline-block;
        color:var(--c-white);
        margin-top:16px;
        margin-left: 33px;
        font-size: 18px;
        font-family: var(--f-GraphikR);
    }


 

    li:first-child{
            margin-left:0px;
    }

}

#menu{
    display: block;
    margin-top: 90px;
    margin-left: 33px;
    height: auto;
    padding-bottom: 20px;
    li{
        color: var(--c-white);
        display: inline-block;
        margin-left: 28px;
        font-size: 18px;
        text-transform: capitalize;
        
        font-weight: bolder;
        a{
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: all 1s ease;
            font-family: var(--f-GraphikR), sans-serif;
            transition: all 1s ease
        }
       
    }
    }

    .menu__item:hover{
            opacity: 0.8;
            transition: 0.2s ease ;
        }


#text__main{
display: block;
position: relative;
margin-top: 84px;
margin-left: 33px;
color: white;
font-size: 32px;
text-transform: uppercase;
letter-spacing: 0;
font-weight: bold;
font-family: var(--f-Gilroy);
}

#logo__mobile{
margin-top: 84px;
width:100%;
}

#logo__tabl{
display: none;
}

#logo__deks{
display:none;
}

//------------------------------Second Section
    #section__second{
       
    height: auto;
    background-color: var(--c-maincolor);
    padding-bottom: 100px;


        h1{
            margin-top: -15px;
            display: block;
            width:0;
            height: 0;
        }

        h2{
            display: inline-block;
            margin-top: 20px;
            color: var(--c-white);
            font-size: 24px;
            font-family:var(--f-GraphikM);
        }
    }
       
    #text__wrap{
        position: relative;
        top:52px;
        margin-left: auto;
        margin-right: auto;
        width: 313px;;
        height: 64px;
        text-align: center;
    }

    button:hover{
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
        transition: 0.2s ease ;

    }


 
    #mobile__slide{
    margin-top: 176px;
    width: 200px;
    margin-left: 0px;
    }

    #cards__tablet{
        display: none;
    }

    .mobile__slide__all{
        margin-left: 0px;
        margin-right: 0px;
        display: none;

    }
    #mobile__slide__item{
            margin:0;
    }

    /*#mobile__item__last{
        margin-right: 100px;
    }*/

    .swiper-slide{
        img{
            width: 304px;
            height: 270px;

        }
        
    }

 



.swiper-container5{
    display: none;
}

#dekstop__card{
    display: none;
}

//---------------------------------------Cards Onclick
.card__project{
    height: auto;
    width: 360px;
    position: absolute;
    background-color: white;
    z-index: 1;
    padding-bottom: 32px;

    

    img{
        margin-top: 86px;
        margin-left: 12px;
        width:112.32px;
        height: 104.32px;
    }

    .text__wrap{
        width: 270px;
        height: auto;
        margin-left: 24px;
        
    h3{
        display: inline-block;
        color: black; 
        margin-top: 56.68px;  
        font-family: var(--f-GraphikM);
        font-size: 24px;
        }
        
    p{
        font-family: var(--f-GraphikR);
        margin-top: 16px;
        font-size: 18px;
    
       
    }


    
}
}

#second__card1{
    z-index: 110;
    left:0px;
    display: none;
}

#second__card__close{
    position: absolute;
    bottom: 33px;
    right: 24px;
    width: 40px;
    height: 40px;
}
#third__card__close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}
#fourth__card__close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}
#first__card__close{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}
        #blue{
        background-color: var(--c-blue);
        }

        #green{
        background-color: var(--c-green);
        }

        #purple{
        background-color: var(--c-darkblue);
        }

        #real__purple{
        background-color: var(--c-purple);
        }

        .more{
         width: 170px;
         height: 44px;
         text-transform: capitalize;
         color: var(--c-white);
         font-family: var(--f-Graphik);
         font-size: 18px;
         border-width: 0px;
         margin-left: 24px;
         margin-top:24px;
        }

    #first__card{
    display: none;
    z-index: 10;
    }

        #second__card{
              z-index: 10;
              margin-left: 50px;
          
        display:none;
        }

        #third__card{
              z-index: 10;
        display:none;
        }

        #fourth__card{
              z-index: 10;
        display: none;
}
//------------------------Third Section
#section__third{
    height: auto;

   
}
    #certi__swiper{
        margin-left: 20px;
        margin-right: auto;
    }


    #certi__slide__mob{
        div{
            img{
                width: 100px;
            }
            #web__sphere_mob{
                width: 200px;
                margin-left: -50px;
            }
        }
    }

    

    #tablet__certi{
        display: none;
    }


    #artic__wrap{
        display: inline-block;
        margin-top:41px;
        height: auto;
        

     #art__text{
        margin:41px 24px 0px 24px;
         display: inline-block;
       

         p{
             display: inline-block;
             margin-bottom: 20px;
             font-family:var(--f-GraphikR), sans-serif;
             
         }
     }
    }

    #ibm__logo{
        width: 120px;
        margin-top: 20px;
        
    }

  
    .swiper-container6{
        overflow: hidden;
        display: none;
    }

    #partner__slider{
        display: block;
    }

    #partner__slidertab{
        display: none;
    }
//------------------------Section Four
    #section__four{
        height: auto;
    }

    #client__wrap{
        margin-top: 64px;
        
        font-size: 36px;
       
    }
    
    #clients__name{
        margin-left: 24px;
        font-family: var(--f-GraphikM);
    }

    #client__slider{
        margin-top: 0px;
        justify-content: center;
        div{
            div{
                margin-right: 40px;
            }
        }

    }
    .swiper-container2{
        overflow: hidden;
        img{
            width: 100px;
        }
    }

    #libra{
       
        margin-left: 15px;
    }

    #ukr__bank{
        margin-top: 0px;
        width: 50px;
        margin-left: 20px;
    }
    #ukr__gas{
        margin-top: 0px;
    }

    #client__static{
        display: none;
    }

    #partner__wrap{
        margin-top: 20px;
        margin-left: 24px;
        font-size: 36px;
        font-family: var(--f-GraphikM);
    }

    #partner__slider__static{
        display: none;
    }
//--------------------------------------------------------------------------
.swiper-container{
    width: auto;
}
.swiper-container1{
    overflow: hidden;
}



.swiper-container3{
    overflow: hidden;
}

#partner__slider__static{
    display: none;
    }

    #partner__slider{
        margin-top: 0px;
    }

    .partner_image{
        margin-right: 20px;
        img{
        width: 140px;}
    }
    
    #check{
        margin-right: 20px;
        width: 140px;
    }

    #diploma{
        margin-top: 180px;
    }

    #diploma__tabl{
        display:none;
    }

    #diploma__slider{
        
        margin-top: 70px;
        
    }
 
    #diploma__wrap{
        display: flex;
        justify-content: center;
     
    }
    .diploma__mobile_slide{
        img{
            width: auto;
            
        }
    }

    #mobile__img__wrap{
        position: relative;
    }

    .mobile__img__show{
        display: none;
        position: absolute;
        width: auto;
        height: 690px;
        bottom: -70px;
        z-index: 110;
        
    }
    #xxl__img1{
        width: 100%;
        height: auto;
    }

    #mobileclose{
        position: absolute;
        width: 62px;
        height: 62px;
        right: 0px;
        bottom: 700px;
        display: none;
        z-index: 1120;
    }


    #diploma__m1{
        display: flex;
        flex-direction: row;
       
    }

    #diploma__m4{
        display: flex;
        flex-direction: row;
    
    }    
    /*
    #diploma__m2{
        right: 70px;
    }
    #diploma__m3{
        right: 210px;
    }
  
*/
 #big__diploma{
        width:500px;
        display:inline-block;
        right: 70px;
        img{
            width:500px;
        }
    }
  

    .swiper-container7{
        overflow: hidden;
    }

    /*------------------------------------------footer*/
    footer{
        background-color: var(--c-maincolor);
        height: auto;
        margin-top: 64px;
        padding-bottom: 26px;

        span{
            display: inline-block;
            margin: 32px auto 0 auto;
            color: var(--c-white);
            font-size: 14px;
            
        }
    }

    
    #contact{
        display: inline-block;
        margin-left: 32px;
        color: var(--c-white);
    }


    .contact__item{
            display: inline-block;
            margin-top: 26px;
            margin-right: 24px;
            position: relative;
       
            

            span{
                display: inline-block;
                position:relative;
                left: 16.75px;
                font-size: 18px;
                font-family:var(--f-GraphikR), sans-serif;
                margin-left: 16.75px;
                width: 220px;
                top: 4px;
            }

            img{
                position: absolute;
                top: 35px;
                width: 22px;
                height: 20px;
                
                
            }
        
    }

    .contact__item:hover{
        opacity: 0.8;
    }

    #anti_corp{
        margin-top: 64px;
        margin-left: 35px;
        font-size: 18px;
        font-family: var(--f-GraphikR);
        a{
            text-decoration: none;
            color: white;
        }
    }

    #anti_corp:hover{
        opacity: 0.8;
    }
    

    #euro__text{
        display: inline-block;
        margin-top: 32px;
        margin-left: 65px;
        color: gray;
        font-family: var(--f-GraphikR);
    }

    #language{
        display: flex;
        flex-direction: row ;
        justify-content: space-around;
        color: var(--c-white);
        margin-top: 56px;
        margin-left:24px;
        text-align:center;
        padding-bottom: 26px;
        font-family: var(--f-GraphikR);
        
        img{
            margin-right: 8px;
        }

        span{
            font-size: 18px;
            margin-top: 2px;
            font-family: var(--f-GraphikM);
            color:gray;
        }

        #lang__ru{
            color: white;
        }
    }



  
  /* -------------------------------TABLET MODE------------------*/
       
@media screen and (min-width: 767px){
    #logo__mobile{
        display: none;
    }

    #logo__tabl{
        display: block;
        width: 100%;
        margin-top: 252px;

    }

    #text__main{
    position: absolute;
    top: 36px;
    margin-left: 0px;
    left: 36px;
    font-size: 32px;
    margin-top: 0px;
    }

    #find{
        position: absolute;
        left: 3px;
        top: 89px;
        font-size: 18px;
    }
    

    #find__stroke{
        display: none;
    }

    #menu{
        top:20px;
        position: absolute;
        right: 36px;
    }

  

    //------------------------Second Section
    #section__second{
        height: auto;
    }

        #real__stroke{
            display: none;
        }

        #text__wrap{
            margin-top: -50px;
            padding-top: 160px;
            min-width: 616px;
        }

        #slider__mobile{
            display: block;
            margin-top: 239px;
            padding-bottom: 270px;
        }

        #mobile__slide{
            display: none;
           
        }
        .certi__mob__item{
            margin-left: 15px;
        }

        
        
        #cards__tablet{
            display: block;
            margin-top: 239px;
            padding-bottom: 200px;
            overflow: hidden;
           
        }


    .tablet__slider__card{
            margin: 10px;
    }

    #second__card{
        width: 360px;
        margin-left: 30%;
        
        margin-top: 250px;
    }
    #second__card1{
        margin-top: 250px;
        left:40px;

    }
    
    #first__one{
        margin-top: 10px;
        margin-left: 40px;

    }
  


        /*---------------------Section-Third---------*/

        #artic__wrap{
            margin: 72px 60px 0px 60px;
            height: auto;
        }
        #art__text{
            height: auto;
            font-size: 18px;
            
        }

         #client__wrap{
        margin-top: 120px;
        
    }

   #certi__swiper{
    display: none;
    }

    #tablet__certi{
        margin-top: 88px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    #tablet__certi__item{
        
        img{
            width: 105px;
        }
    }
    #web__sphere{
        margin-top: 30px;
    }
    

    #partner__slider{
        display: none;
    }
    
    #partner__slidertab{
        display: block;
        margin-top: 67px;
    }

  

    .partner__slide__item{
       
        img{
            width: 211px;
            height: 111px;
        }
    }

    #ukr__bank{
        width: 150px;
    }
        /* --------------------------Section - Four --------------*/
        .swiper-container2{
            display: none;
        }

        .swiper-container6{
            margin-top: 70px;
            display: block;
        }
    
        .tablet__client__item{
            img{
                width: 232px;
                height: 96px;
            }
        }

        #diploma{
        display: none;
        }

        #diploma__slider{
            display: none;
        }

     #diploma__tabl{
        display: flex;
        justify-content: center;
        margin-top: 120.71px;
        width:auto;

        div{
            position: relative;
        }
      
    }

    #diplom__close{
        display: none;
        position: absolute;
        top: -220px;
        left: 320px;
        z-index: 101;
    }

    #thank2__diplom{
        width: 113px;
        height: 160px;
        margin: 0px;
        z-index: 1;
    }

    #diplom__img{
        display: none;
        position: absolute;
        top: -200px;
        margin-left:45%;
        margin-right: auto;
        z-index: 100;
        width: 339px;
        height: 480px;
    }

    #thank__diplom{
        width: 113px;
        height: 160px;
        margin: 0px;
    }

    #telas__diplom{
        width: 113px;
        height: 160px;
        margin: 0px;
    }

    #diplo__diplom{
        width: 113px;
        height: 160px;
        margin: 0px;
    }

    #xxl__diplom{
        width: 260px;
        height: 160px;
    }

    #xx__close{
        display: none;
        position: absolute;
        left: 650px;
        top: -220px;
        display: none;
        z-index: 100;
    }

    #thank__close{
        position: absolute;
        right: -80px;
        top: -250px;
         display: none;
         z-index: 110;
    }

    #tellas__close{
        top: -220px;
        position: absolute;
        right: -140px;
         display: none;
        z-index: 110;
    }

    #dip__close{
        right: -240px;
        position: absolute;
        top: -220px;
         display: none;
            z-index: 110;
    }

    /* ---------------------------------------CLosings*/

    #xxl__img{
        display: none;
        top: -202px;
        left: -70px;
        position: absolute;
         width: 778px;
        height: 480px;
        z-index: 100;
    }
#thank__img{
    position: absolute;
     width: 339px;
        height: 480px;
        display: none;
        z-index: 100;
        bottom: -100px;
        right: -50px;
}

#telas__img{
    position: absolute;
     width: 339px;
        height: 480px;
        display: none;
        bottom: -110px;
        left: -100px;
        z-index: 100;
}
#diplo__img{
    position: absolute;
     width: 339px;
        height: 480px;
        display: none;
        bottom: -110px;
        z-index: 100;
}

        footer{
            margin-top: 0px;
        }

        #contact{
            display: flex;
            flex-wrap: wrap;
            margin-left: 60px;
        }


        .contact__item{
            margin-left:0px;
            margin-right: 60px;
            height: auto;
            
            span{
                
                width: auto;
            }
            
        }

        .contact__item:last-child{
            margin-left: 0px;
        }

    
        #anti_corp{
            margin-top: 60px;
        
            font-size: 18px;
            
        }
        span{
            margin-right:60px;
            display: inline-block;
        }

        #last__wrap{
            display: flex;
            flex-direction: row-reverse;
        }

        #euro__text{
            display: inline-block;
            margin-top: 60px;
            margin-left: 0px;
        }

        #euro__stroke{
            display: none;
            font-weight: lighter;
        }

        

        #language{
            width:auto;
            margin-left: 60px;
            li{
               margin-right: 36px; 
                
            }
        }
}
/*-----------------------------------------DEkstop-MOde*/
@media screen and (min-width: 1278px){
    #logo__mobile{
        display: none;
       
    }
    
    #logo__tabl{
        display: none;
    }
    
    #logo__deks{
        width: 100%;
        display:block;
        margin-top: 53px;
    }

    #text__main{
        margin-top: 26px;
    }
    

    //---------------------Second Section Deks__
    #cards__wrap{
        position: relative;
    }
    #second__card{
        display: none;
        top: 0px;
        left: -400px;
    }

    #text__wrap{
        height: auto;
        width: auto;

        h2{
        font-size: 56px;
        
        }
    }

    #slider__mobile{
        overflow: hidden;
        height: 280px;
        width: 100%;
        
        img{
            margin-left:15px;
            width: 293px;
            height: 270px;
        }
    }

    #mobile__slide{
        display: none;
    }
    
    #cards__tablet{
        display: none;
    }

    #second__card{
        margin-top: 350px;
    }

    #dekstop__card{
        display: flex;
        margin-top: 300px;
        padding-bottom: 290px;
        flex-direction: row;
        justify-content: space-around;

        

        div{
            width:293px;
            height: 270px;
            position: relative;
        }
       

        img{
            width: 112px;
            height: 104px;
            margin: 0px;
            padding:0px;
        }
       
      
    }

    #dekstop__item__1{
        background-color: var(--c-green);
        cursor: pointer;
    }
    
    #dekstop__item__2{
        background-color: var(--c-blue);
    }
    
    #dekstop__item__3{
        background-color: var(--c-darkblue);
    }
    
    #dekstop__item__4{
        background-color: var(--c-purple);
    }

    #dekstop__item__text1{
        font-size: 24px;
        font-family: var(--f-GraphikM);
        color: white;
        position: absolute;
        right: -20px;
        top: 180px;
    }
    #dekstop__item__text2{
        font-size: 24px;
        font-family: var(--f-GraphikM);
        color: white;
        position: absolute;
        right: -0px;
        top: 180px;
    }
    #dekstop__item__text3{
        font-size: 24px;
        font-family: var(--f-GraphikM);
        color: white;
        position: absolute;
        right: 85px;
        top: 180px;
    }
    #dekstop__item__text4{
        font-size: 24px;
        font-family: var(--f-GraphikM);
        color: white;
        position: absolute;
        right: 110px;
        top: 180px;
    }


    
    //#img__dekst__green:hover {
       
       
   // }
 
/*--------------------------------------Section third __ Dekst*/
    #section_third{
        position: relative;
    }

    #artic__wrap{
        
        margin-top: 167px;
        display: flex;
        justify-content: center;
    }

    #art__text{
        display: block;
        width: 625px;
      
    }

    #cert__slider{
        position: absolute;
        top: 30px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        img:first-child{
            margin-top: -50px;
        }
        img{
            margin-top: 30px;
        }
    }
    #tablet__certi{
        justify-content: center;

    }
    #web__sphere{
        margin-top: 30px;

    }

    .tablet__certi__item{
        margin: 0px 20px 0px 20px;
    }

    /*------------------------------------Clients*/
    .dekstop__color{
        display: none;
    }

    .dekstop__gray{
        display:block;
    }
    
    #clients__name{
        color: gray;
    }

    #client__wrap{
        margin-top: 150px;
        text-align:center ;
    }

    .swiper-container2{
        display: none;
    }
    .swiper-container6{
        margin-top: 70px;
        margin-left: 20px;
        display: none;
    }

    #client__static{
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        
    }

    #client__static div:hover{

        .dekstop__color{
            display: block;
            transition: 0.5s ease ;
        }

        .dekstop__gray{
            display:none;
            transition: 0.5s ease ;
        }
    
    }

   

    #partner__wrap{
        text-align: center;
        span{
            color: gray;
            
        }
    }
    
    #partner__slider__static{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        margin-left: 158px;
        margin-right: 160px;
        img{
            margin-top: 84px;
            margin-left: 84px;
        }
    }

    
    #partner__slider__static div:hover{
      
        .dekstop__color{
            display: block;
            transition:all 0.5s ease ;
        }

        .dekstop__gray{
            display:none;
            
        }
    
    }

   
  

    #vm__dekst{
        margin-top: 15px;
    }

    #veem__dekst{
        margin-top: 15px;
    }

    #esri__dekst{
        margin-top: -20px;
    }    

    #partner__slider{
        display: none;
    }
    #partner__slidertab{
        display: none;
    }

    
    #diploma__tabl{
        margin-top: 130px;
        padding-bottom:120px;
    }
    #diploma__slider{
        display: none;
    }

    footer{
        margin-top: 60px;
    }

    .contact__item{
        font-family: var(--f-GraphikM);
        font-size: 18px;
        width: 240px;
    }

    #anti_corp{
        margin-top: 62px;
        font-size: 18px;
        margin-left: 0px;
    }

    #euro__text{
        margin-top:61px;

    }
    
}